/* Переход на планшетную версию */
@media screen and (max-width: 1245px) {
    /* Секция с каталогом курсов */
    .catalog-section {
        padding: 0;
    }

    /* Контейнер во всю ширину страницы */
    .catalog {
        width: 100%;
        padding: 35px 40px;
        border-radius: 0;
    }
}

/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    /* Контейнер во всю ширину страницы */
    .catalog {
        padding: 35px 10px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /* Заголовок "Каталог курсов" */
    .catalog .section-title {
        width: min(470px, 100%);
        text-align: left;

        margin-left: 10px;
    }

    /* Заголовок "Обучайтесь востребованным..." */
    .catalog__subtitle {
        width: min(470px, 100%);

        font-weight: 700;
        font-size: 20px;

        margin-left: 10px;
        margin-top: 20px;
    }

    /* Каталог курсов */
    .catalog__courses {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 20px;

        margin-top: 40px;
    }

    /* Блок в каталоге курсов */
    .catalog__course {
        width: min(470px, 100%);
        height: 182px;
        padding: 20px;
        border-radius: 15px;
    }

    .catalog__course:nth-of-type(1) {
        background-image: url("https://static.tildacdn.com/tild3163-3266-4133-a430-353165643232/Management-phone.png");
    }

    .catalog__course:nth-of-type(2) {
        background-image: url("https://static.tildacdn.com/tild3835-3031-4962-a164-353133663064/Development-phone.png");
    }

    .catalog__course:nth-of-type(3) {
        background-image: url("https://static.tildacdn.com/tild6133-3164-4535-b562-633365383033/Analytics-phone.png");
    }

    .catalog__course:nth-of-type(4) {
        background-image: url("https://static.tildacdn.com/tild3035-6435-4965-a339-393961363131/Design-phone.png");
    }

    /* Название курса */
    .catalog__course-title {
        font-size: 25px;
    }

    /* Текст внутри курса */
    .catalog__course-text {
        font-size: 16px;

        margin-top: 70px;
    }

    /* Ссылка на курсы */
    .catalog__course-link {
        bottom: 15px;
        right: 35px;
    }

    /* Кнопка "Перейти а каталог" */
    .catalog .button-green {
        width: min(470px, 100%);

        margin-top: 40px;
    }
}

/* Уменьшение отступа у кнопки внутри курса */
@media screen and (max-width: 300px) {
    /* Ссылка на курсы */
    .catalog__course-link {
        bottom: 15px;
        right: 8px;
    }
}